<%- include("../partials/header", {title: "Home"}) %>
        <header>
             <%- include("../partials/nav") %>
        </header>
        <main>
            <%- include("../partials/hero") %>
        </main>
        <footer class="container-fluid">
             <%- include("../partials/footer") %>
        </footer>   
    </body>
</html>