<%- include('header', {title: "nav"}) %>

<section class="hero__banner section">
    <div class="container">
        <div class="hero__content">

            <h1 class="hero__title">
                Get NSMQ Tricks and Stay Ahead
            </h1>

            <p class="hero__text">
                Master Physics, Chemistry, Biology, and Mathematics with proven strategies,
                past questions, and smart solving techniques designed for NSMQ success.
            </p>

            <div class="hero__actions">               
                <a href="/auth/page/register" class="main__button button__text btn">Start Learning</a>
                <span class="button__loader"></span>
                <span class="button__glow"></span>                               
            </div>

        </div>
    </div>
</section>