<%- include('header', {title: "nav"}) %>

<section class="hero__banner section">
    <div class="container">
        <div class="hero__content">

            <h1 class="hero__title">
                Get NSMQ Tricks and Stay Ahead
            </h1>

            <p class="hero__text">
                Master Physics, Chemistry, Biology, and Mathematics with proven strategies,
                past questions, and smart solving techniques designed for NSMQ success.
            </p>

            <div class="hero__actions">
                <a href="#" class="button success__button hero__action">
                    Start Learning
                </a>

                <a href="#" class="button outline__button hero__action">
                    View Topics
                </a>
            </div>

        </div>
    </div>
</section>