<%- include('header', {title: "nav"}) %>

<nav class="nav">
    <div class="nav__logo"><a href="/">NSMQ TRICKS</a></div>
    <input type="checkbox" id="nav-toggle" class="nav__toggle">
    <label for="nav-toggle" class="nav__hamburger">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <ul class="nav__menu">
        <li><a href="/auth/page/register" class="nav__link">Sign Up</a></li>
        <li><a href="/auth/page/login" class="nav__link">Login</a></li>
        <a href="/auth/page/login" class="main__button button__text btn">Get Started</a>
        <span class="button__loader"></span>
        <span class="button__glow"></span> 
    </ul>
</nav>