<nav class="nav">
    <div class="nav__logo">
        <a href="<%= nav1 %>"><%= title1 %></a>
    </div>

    <div class="nav__links">
        <a href="<%= nav2 %>" class="main__button login__button btn"><%= title2 %></a>
    </div>
</nav>